:root {
    --num-cols: 12;
}

.min-height-field {
	 min-height: 5.6em;
}
 .row {
	 box-sizing: border-box;
	 display: flex;
	 flex: 0 1 auto;
	 flex-direction: row;
	 flex-wrap: wrap;
	 margin-right: -0.5rem;
	 margin-left: -0.5rem;
}
 .d-none {
	 display: none;
}
 .d-block-xs {
	 display: block;
}
 .col-xs-0, .col-xs-offset-0 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-offset-0 {
	 margin-left: 0;
}
 .col-xs-1, .col-xs-offset-1 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-1 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 1;
	 flex-basis: calc(100% / var(--num-cols)) * 1;
	 max-width: calc(100% / var(--num-cols)) * 1;
}
 .col-xs-offset-1 {
	 margin-left: calc(100% / var(--num-cols)) * 1;
}
 .col-xs-2, .col-xs-offset-2 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-2 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 2;
	 flex-basis: calc(100% / var(--num-cols)) * 2;
	 max-width: calc(100% / var(--num-cols)) * 2;
}
 .col-xs-offset-2 {
	 margin-left: calc(100% / var(--num-cols)) * 2;
}
 .col-xs-3, .col-xs-offset-3 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-3 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 3;
	 flex-basis: calc(100% / var(--num-cols)) * 3;
	 max-width: calc(100% / var(--num-cols)) * 3;
}
 .col-xs-offset-3 {
	 margin-left: calc(100% / var(--num-cols)) * 3;
}
 .col-xs-4, .col-xs-offset-4 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-4 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 4;
	 flex-basis: calc(100% / var(--num-cols)) * 4;
	 max-width: calc(100% / var(--num-cols)) * 4;
}
 .col-xs-offset-4 {
	 margin-left: calc(100% / var(--num-cols)) * 4;
}
 .col-xs-5, .col-xs-offset-5 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-5 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 5;
	 flex-basis: calc(100% / var(--num-cols)) * 5;
	 max-width: calc(100% / var(--num-cols)) * 5;
}
 .col-xs-offset-5 {
	 margin-left: calc(100% / var(--num-cols)) * 5;
}
 .col-xs-6, .col-xs-offset-6 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-6 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 6;
	 flex-basis: calc(100% / var(--num-cols)) * 6;
	 max-width: calc(100% / var(--num-cols)) * 6;
}
 .col-xs-offset-6 {
	 margin-left: calc(100% / var(--num-cols)) * 6;
}
 .col-xs-7, .col-xs-offset-7 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-7 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 7;
	 flex-basis: calc(100% / var(--num-cols)) * 7;
	 max-width: calc(100% / var(--num-cols)) * 7;
}
 .col-xs-offset-7 {
	 margin-left: calc(100% / var(--num-cols)) * 7;
}
 .col-xs-8, .col-xs-offset-8 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-8 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 8;
	 flex-basis: calc(100% / var(--num-cols)) * 8;
	 max-width: calc(100% / var(--num-cols)) * 8;
}
 .col-xs-offset-8 {
	 margin-left: calc(100% / var(--num-cols)) * 8;
}
 .col-xs-9, .col-xs-offset-9 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-9 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 9;
	 flex-basis: calc(100% / var(--num-cols)) * 9;
	 max-width: calc(100% / var(--num-cols)) * 9;
}
 .col-xs-offset-9 {
	 margin-left: calc(100% / var(--num-cols)) * 9;
}
 .col-xs-10, .col-xs-offset-10 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-10 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 10;
	 flex-basis: calc(100% / var(--num-cols)) * 10;
	 max-width: calc(100% / var(--num-cols)) * 10;
}
 .col-xs-offset-10 {
	 margin-left: calc(100% / var(--num-cols)) * 10;
}
 .col-xs-11, .col-xs-offset-11 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-11 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 11;
	 flex-basis: calc(100% / var(--num-cols)) * 11;
	 max-width: calc(100% / var(--num-cols)) * 11;
}
 .col-xs-offset-11 {
	 margin-left: calc(100% / var(--num-cols)) * 11;
}
 .col-xs-12, .col-xs-offset-12 {
	 box-sizing: border-box;
	 flex: 0 0 auto;
	 padding-right: 0.5rem;
	 padding-left: 0.5rem;
}
 .col-xs-12 {
	 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 12;
	 flex-basis: calc(100% / var(--num-cols)) * 12;
	 max-width: calc(100% / var(--num-cols)) * 12;
}
 .col-xs-offset-12 {
	 margin-left: calc(100% / var(--num-cols)) * 12;
}
 @media only screen and (min-width: 873px) {
	 .d-none-sm {
		 display: none;
	}
	 .d-block-sm {
		 display: block;
	}
	 .col-sm-0, .col-sm-offset-0 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-offset-0 {
		 margin-left: 0;
	}
	 .col-sm-1, .col-sm-offset-1 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-1 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 1;
		 flex-basis: calc(100% / var(--num-cols)) * 1;
		 max-width: calc(100% / var(--num-cols)) * 1;
	}
	 .col-sm-offset-1 {
		 margin-left: calc(100% / var(--num-cols)) * 1;
	}
	 .col-sm-2, .col-sm-offset-2 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-2 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 2;
		 flex-basis: calc(100% / var(--num-cols)) * 2;
		 max-width: calc(100% / var(--num-cols)) * 2;
	}
	 .col-sm-offset-2 {
		 margin-left: calc(100% / var(--num-cols)) * 2;
	}
	 .col-sm-3, .col-sm-offset-3 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-3 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 3;
		 flex-basis: calc(100% / var(--num-cols)) * 3;
		 max-width: calc(100% / var(--num-cols)) * 3;
	}
	 .col-sm-offset-3 {
		 margin-left: calc(100% / var(--num-cols)) * 3;
	}
	 .col-sm-4, .col-sm-offset-4 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-4 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 4;
		 flex-basis: calc(100% / var(--num-cols)) * 4;
		 max-width: calc(100% / var(--num-cols)) * 4;
	}
	 .col-sm-offset-4 {
		 margin-left: calc(100% / var(--num-cols)) * 4;
	}
	 .col-sm-5, .col-sm-offset-5 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-5 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 5;
		 flex-basis: calc(100% / var(--num-cols)) * 5;
		 max-width: calc(100% / var(--num-cols)) * 5;
	}
	 .col-sm-offset-5 {
		 margin-left: calc(100% / var(--num-cols)) * 5;
	}
	 .col-sm-6, .col-sm-offset-6 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-6 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 6;
		 flex-basis: calc(100% / var(--num-cols)) * 6;
		 max-width: calc(100% / var(--num-cols)) * 6;
	}
	 .col-sm-offset-6 {
		 margin-left: calc(100% / var(--num-cols)) * 6;
	}
	 .col-sm-7, .col-sm-offset-7 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-7 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 7;
		 flex-basis: calc(100% / var(--num-cols)) * 7;
		 max-width: calc(100% / var(--num-cols)) * 7;
	}
	 .col-sm-offset-7 {
		 margin-left: calc(100% / var(--num-cols)) * 7;
	}
	 .col-sm-8, .col-sm-offset-8 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-8 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 8;
		 flex-basis: calc(100% / var(--num-cols)) * 8;
		 max-width: calc(100% / var(--num-cols)) * 8;
	}
	 .col-sm-offset-8 {
		 margin-left: calc(100% / var(--num-cols)) * 8;
	}
	 .col-sm-9, .col-sm-offset-9 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-9 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 9;
		 flex-basis: calc(100% / var(--num-cols)) * 9;
		 max-width: calc(100% / var(--num-cols)) * 9;
	}
	 .col-sm-offset-9 {
		 margin-left: calc(100% / var(--num-cols)) * 9;
	}
	 .col-sm-10, .col-sm-offset-10 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-10 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 10;
		 flex-basis: calc(100% / var(--num-cols)) * 10;
		 max-width: calc(100% / var(--num-cols)) * 10;
	}
	 .col-sm-offset-10 {
		 margin-left: calc(100% / var(--num-cols)) * 10;
	}
	 .col-sm-11, .col-sm-offset-11 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-11 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 11;
		 flex-basis: calc(100% / var(--num-cols)) * 11;
		 max-width: calc(100% / var(--num-cols)) * 11;
	}
	 .col-sm-offset-11 {
		 margin-left: calc(100% / var(--num-cols)) * 11;
	}
	 .col-sm-12, .col-sm-offset-12 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-sm-12 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 12;
		 flex-basis: calc(100% / var(--num-cols)) * 12;
		 max-width: calc(100% / var(--num-cols)) * 12;
	}
	 .col-sm-offset-12 {
		 margin-left: calc(100% / var(--num-cols)) * 12;
	}
}
 @media only screen and (min-width: 1024px) {
	 .d-none-md {
		 display: none;
	}
	 .d-block-md {
		 display: block;
	}
	 .col-md-0, .col-md-offset-0 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-offset-0 {
		 margin-left: 0;
	}
	 .col-md-1, .col-md-offset-1 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-1 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 1;
		 flex-basis: calc(100% / var(--num-cols)) * 1;
		 max-width: calc(100% / var(--num-cols)) * 1;
	}
	 .col-md-offset-1 {
		 margin-left: calc(100% / var(--num-cols)) * 1;
	}
	 .col-md-2, .col-md-offset-2 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-2 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 2;
		 flex-basis: calc(100% / var(--num-cols)) * 2;
		 max-width: calc(100% / var(--num-cols)) * 2;
	}
	 .col-md-offset-2 {
		 margin-left: calc(100% / var(--num-cols)) * 2;
	}
	 .col-md-3, .col-md-offset-3 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-3 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 3;
		 flex-basis: calc(100% / var(--num-cols)) * 3;
		 max-width: calc(100% / var(--num-cols)) * 3;
	}
	 .col-md-offset-3 {
		 margin-left: calc(100% / var(--num-cols)) * 3;
	}
	 .col-md-4, .col-md-offset-4 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-4 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 4;
		 flex-basis: calc(100% / var(--num-cols)) * 4;
		 max-width: calc(100% / var(--num-cols)) * 4;
	}
	 .col-md-offset-4 {
		 margin-left: calc(100% / var(--num-cols)) * 4;
	}
	 .col-md-5, .col-md-offset-5 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-5 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 5;
		 flex-basis: calc(100% / var(--num-cols)) * 5;
		 max-width: calc(100% / var(--num-cols)) * 5;
	}
	 .col-md-offset-5 {
		 margin-left: calc(100% / var(--num-cols)) * 5;
	}
	 .col-md-6, .col-md-offset-6 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-6 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 6;
		 flex-basis: calc(100% / var(--num-cols)) * 6;
		 max-width: calc(100% / var(--num-cols)) * 6;
	}
	 .col-md-offset-6 {
		 margin-left: calc(100% / var(--num-cols)) * 6;
	}
	 .col-md-7, .col-md-offset-7 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-7 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 7;
		 flex-basis: calc(100% / var(--num-cols)) * 7;
		 max-width: calc(100% / var(--num-cols)) * 7;
	}
	 .col-md-offset-7 {
		 margin-left: calc(100% / var(--num-cols)) * 7;
	}
	 .col-md-8, .col-md-offset-8 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-8 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 8;
		 flex-basis: calc(100% / var(--num-cols)) * 8;
		 max-width: calc(100% / var(--num-cols)) * 8;
	}
	 .col-md-offset-8 {
		 margin-left: calc(100% / var(--num-cols)) * 8;
	}
	 .col-md-9, .col-md-offset-9 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-9 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 9;
		 flex-basis: calc(100% / var(--num-cols)) * 9;
		 max-width: calc(100% / var(--num-cols)) * 9;
	}
	 .col-md-offset-9 {
		 margin-left: calc(100% / var(--num-cols)) * 9;
	}
	 .col-md-10, .col-md-offset-10 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-10 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 10;
		 flex-basis: calc(100% / var(--num-cols)) * 10;
		 max-width: calc(100% / var(--num-cols)) * 10;
	}
	 .col-md-offset-10 {
		 margin-left: calc(100% / var(--num-cols)) * 10;
	}
	 .col-md-11, .col-md-offset-11 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-11 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 11;
		 flex-basis: calc(100% / var(--num-cols)) * 11;
		 max-width: calc(100% / var(--num-cols)) * 11;
	}
	 .col-md-offset-11 {
		 margin-left: calc(100% / var(--num-cols)) * 11;
	}
	 .col-md-12, .col-md-offset-12 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-md-12 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 12;
		 flex-basis: calc(100% / var(--num-cols)) * 12;
		 max-width: calc(100% / var(--num-cols)) * 12;
	}
	 .col-md-offset-12 {
		 margin-left: calc(100% / var(--num-cols)) * 12;
	}
}
 @media only screen and (min-width: 1280px) {
	 .d-none-lg {
		 display: none;
	}
	 .d-block-lg {
		 display: block;
	}
	 .col-lg-0, .col-lg-offset-0 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-offset-0 {
		 margin-left: 0;
	}
	 .col-lg-1, .col-lg-offset-1 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-1 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 1;
		 flex-basis: calc(100% / var(--num-cols)) * 1;
		 max-width: calc(100% / var(--num-cols)) * 1;
	}
	 .col-lg-offset-1 {
		 margin-left: calc(100% / var(--num-cols)) * 1;
	}
	 .col-lg-2, .col-lg-offset-2 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-2 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 2;
		 flex-basis: calc(100% / var(--num-cols)) * 2;
		 max-width: calc(100% / var(--num-cols)) * 2;
	}
	 .col-lg-offset-2 {
		 margin-left: calc(100% / var(--num-cols)) * 2;
	}
	 .col-lg-3, .col-lg-offset-3 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-3 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 3;
		 flex-basis: calc(100% / var(--num-cols)) * 3;
		 max-width: calc(100% / var(--num-cols)) * 3;
	}
	 .col-lg-offset-3 {
		 margin-left: calc(100% / var(--num-cols)) * 3;
	}
	 .col-lg-4, .col-lg-offset-4 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-4 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 4;
		 flex-basis: calc(100% / var(--num-cols)) * 4;
		 max-width: calc(100% / var(--num-cols)) * 4;
	}
	 .col-lg-offset-4 {
		 margin-left: calc(100% / var(--num-cols)) * 4;
	}
	 .col-lg-5, .col-lg-offset-5 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-5 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 5;
		 flex-basis: calc(100% / var(--num-cols)) * 5;
		 max-width: calc(100% / var(--num-cols)) * 5;
	}
	 .col-lg-offset-5 {
		 margin-left: calc(100% / var(--num-cols)) * 5;
	}
	 .col-lg-6, .col-lg-offset-6 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-6 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 6;
		 flex-basis: calc(100% / var(--num-cols)) * 6;
		 max-width: calc(100% / var(--num-cols)) * 6;
	}
	 .col-lg-offset-6 {
		 margin-left: calc(100% / var(--num-cols)) * 6;
	}
	 .col-lg-7, .col-lg-offset-7 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-7 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 7;
		 flex-basis: calc(100% / var(--num-cols)) * 7;
		 max-width: calc(100% / var(--num-cols)) * 7;
	}
	 .col-lg-offset-7 {
		 margin-left: calc(100% / var(--num-cols)) * 7;
	}
	 .col-lg-8, .col-lg-offset-8 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-8 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 8;
		 flex-basis: calc(100% / var(--num-cols)) * 8;
		 max-width: calc(100% / var(--num-cols)) * 8;
	}
	 .col-lg-offset-8 {
		 margin-left: calc(100% / var(--num-cols)) * 8;
	}
	 .col-lg-9, .col-lg-offset-9 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-9 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 9;
		 flex-basis: calc(100% / var(--num-cols)) * 9;
		 max-width: calc(100% / var(--num-cols)) * 9;
	}
	 .col-lg-offset-9 {
		 margin-left: calc(100% / var(--num-cols)) * 9;
	}
	 .col-lg-10, .col-lg-offset-10 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-10 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 10;
		 flex-basis: calc(100% / var(--num-cols)) * 10;
		 max-width: calc(100% / var(--num-cols)) * 10;
	}
	 .col-lg-offset-10 {
		 margin-left: calc(100% / var(--num-cols)) * 10;
	}
	 .col-lg-11, .col-lg-offset-11 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-11 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 11;
		 flex-basis: calc(100% / var(--num-cols)) * 11;
		 max-width: calc(100% / var(--num-cols)) * 11;
	}
	 .col-lg-offset-11 {
		 margin-left: calc(100% / var(--num-cols)) * 11;
	}
	 .col-lg-12, .col-lg-offset-12 {
		 box-sizing: border-box;
		 flex: 0 0 auto;
		 padding-right: 0.5rem;
		 padding-left: 0.5rem;
	}
	 .col-lg-12 {
		 -ms-flex-preferred-size: calc(100% / var(--num-cols)) * 12;
		 flex-basis: calc(100% / var(--num-cols)) * 12;
		 max-width: calc(100% / var(--num-cols)) * 12;
	}
	 .col-lg-offset-12 {
		 margin-left: calc(100% / var(--num-cols)) * 12;
	}
}
 